# Sets environment variables for this project using https://direnv.net/
export DRUPAL_CORE_CONSTRAINT=^8.9
export SIMPLETEST_DB=sqlite://web/sites/default/files/.sqlite
layout_php
# https://github.com/direnv/direnv/issues/544#issuecomment-598654584
[[ -f .envrc.local ]] && dotenv ".envrc.local"
